.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
  }
  
  .card {
    margin: 0 2% !important;
  }
  
  .infected {
    border-bottom: 10px solid rgb(91, 192, 222, 0.8);
  }
  
  .recovered{
    border-bottom: 10px solid rgb(34, 187, 51, 0.8);
  }
  
  .deaths{
    border-bottom: 10px solid rgb(187, 33, 36, 0.8);
  }
  
  @media only screen and (max-width: 770px) {
    .card {
      margin: 2% 0 !important;
    }
  }